html,body{
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 1.2;
}

body {
  background: $white;
}

.container {
  width: 57rem;
  margin: 0 auto;

  @include mq(lg) {
    width: 96%;
    padding: 0 2%;
  }
}

h3.title {
  font-family: $abl, sans-serif;
  font-size: 1.5rem;
  color: $title;
  margin: 0 auto;

  @include mq(s) {
    font-size: 1.2rem;
  }
}

p.title {
  font-family: $a, sans-serif;
  font-size: 0.8rem;
  color: $white;
  margin: 0 auto;
}

.links {
  margin: 1rem auto;
  min-height: auto !important;

  a.link {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-family: $abl, sans-serif;
    font-size: 0.8rem;
    color: #fff;
    border: 1px solid $link;
    @include border-radius(1rem);
    background: $link;
    padding: 0.4rem;
    box-shadow: 3px 3px 0px $link-hover;
    -webkit-box-shadow: 3px 3px 0px $link-hover;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  a.link:hover {
    border: 1px solid $link-hover;
    background: $link-hover;
    box-shadow: 3px 3px 0px $link;
    -webkit-box-shadow: 3px 3px 0px $link;
  }

  a.link.xl{
    min-width: 9.05rem;
    font-size: 0.9rem;
  }

  a.link.l {
    min-width: 8rem;
  }

  a.link.m {

  }

  a.link.s {
    min-width: 5.85rem;
    font-size: 0.6rem;

    @include mq(md) {
      min-width: 4.85rem;
    }

    @include mq(s) {
      min-width: 5.85rem;
    }
  }
}

.links.center {
  text-align: center;
}

h6.title {
  font-family: $abl, sans-serif;
  font-size: 0.9rem;
  color: $title;
  text-align: center;
  margin: 1rem auto;
}

h5.title {
  font-family: $abl, sans-serif;
  font-size: 1.2rem;
  color: $title;
  margin: 0 auto;
}

h6.title.price {
  color: $link-hover;
  margin: 0;
  text-align: left;
}

ul.list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    padding: 0.35rem 0;

    p {
      font-family: $abl, sans-serif;
      font-size: 0.6rem;
      color: $title;
      margin: 0 auto;

      span {
        display: inline;
      }
    }
    span {
      font-family: $a, sans-serif;
      font-size: 0.6rem;
      color: $title;
      margin: 0 auto;
      display: inline-block;
    }
  }
}

button:focus {
  outline: none;
}

#toTop {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;

  @include mq(md) {
    width: 1.75rem;
    height: 1.75rem;
  }

  img {
    display: block;

    @include mq(md) {
      width: 100%;
    }
  }
}

.rotate {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}


