@font-face {
  font-family: "Arial";
  src: url("../fonts/Arial.woff");
}
$a : "Arial";

@font-face {
  font-family: "Arial-Black";
  src: url("../fonts/Arial-Black.woff");
}
$abl : "Arial-Black";

@font-face {
  font-family: "Arial-Bold";
  src: url("../fonts/Arial-Bold.woff");
}
$ab : "Arial-Bold";

@font-face {
  font-family: "Arial-Italic";
  src: url("../fonts/Arial-Italic.woff");
}
$ai : "Arial-Italic";

@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("../fonts/Montserrat-ExtraBold.woff");
}
$meb : "Montserrat-ExtraBold";

@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../fonts/MyriadPro-Regular.woff");
}
$mpr: "MyriadPro-Regular";

